 /* header {
  align-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: lightskyblue;
}
main {
  display: flex;
  color: Blue;
  text-decoration: underline;
  justify-content: space-between;
}

footer {
  align-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: lightskyblue;
}
#data {
  background-color: paleturquoise;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} 







 */





  /* header {
  align-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: lightskyblue;
}
main {
  display: flex;
  color: Blue;
  text-decoration: underline;
  justify-content: space-between;
}

footer {
  align-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: lightskyblue;
}
#data {
  background-color: paleturquoise;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
 /* }  */ 



#modifiedCircle{
    animation-duration: 5s ;
    width: 500px;
    height: 500px;
    border: 5px solid rgb(4, 12, 4) ;
    border-radius: 50%;
    background-color: lightpink;
    box-shadow: 5px , 5px, 5px,color(srgb red rgb(25, 113, 25) blue);
    margin: auto;
    cursor:zoom-out;
    filter: blur();
    
    
}
 
#cardWrapper{
    width: 100%;
    height: 100px;
    background: #7d1f1f;
    margin-top: 50px;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    margin-top: auto;
    
}
